<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h1 class="intro-text text-center">Company
				<strong>Articles Listing</strong>
			</h1>
			<hr>
		</div>
		<% @articles.each do |article| %>

			<div class="col-lg-12 text-center">
				<div class="btn-group" role="group" aria-label="...">
					<%= link_to " Edit", edit_article_path(article), class: "btn btn-default glyphicon glyphicon-edit" %>
					<%= link_to " Delete", article_path(article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"},
											class: "btn btn-default glyphicon glyphicon-remove"
					%>
				</div>
				<img class="img-responsive img-border img-full" src="img/slide-1.jpg" alt="">

				<h2><%= link_to article.title, article %>
					<br>
					<small><%= article.created_at.strftime("%B, %d, %Y") %></small>
				</h2>
				<p><%= article.body %></p>
				<%= link_to "Read More", article_path(article), class: "btn btn-default btn-lg" %>
				<hr>
			</div>
		<% end %>

	</div>
</div>